@model IEnumerable<TX2.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách toàn bộ sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 table-bordered border text-center mb-5">
            Mã sản phẩm: <b>@Html.DisplayFor(modelItem => item.Pid)</b> <br />
            Tên sản phẩm: <b>@Html.DisplayFor(modelItem => item.ProdName)</b> <br />
            Mô tả: <b>@Html.DisplayFor(modelItem => item.Description)</b> <br />
            @{
                var imgPath = "~/Content/Images/" + item.ImagePath;
                <img src="@Url.Content(imgPath)" height="200" />
            }
            <br />
            Giá tiền: <b>@Html.DisplayFor(modelItem => item.Price)</b> <br />
            @Html.ActionLink("Sửa", "Edit", new { id = item.Pid }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Pid }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Pid })
        </div>
    }
</div>

